.user-detail {

    &__top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: #cd1532;
        padding: 2em;
    }

    &__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        color: white;
    }

    &__name {
        font-size: 25px;
        font-weight: bold;
    }

    &__title {
        display: flex;
        flex-direction: column;

        padding: 0 1rem;
    }


    @media (max-width: 576px) {

        &__name {
            font-size: 25px;
        }

        &__text {
            font-size: 10px;
            margin: 0 1rem;
        }

        &__title {
            font-size: 13px;
        }

    }

}

.email {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.email span {
    margin-top: .1em;
}

@media (width < 30em) {
    .user-detail {
        &__top-bar {
            padding: 1em;
        }
    }

}