.user-detail {

    &__top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #cd1532;
        padding: 2em;
    }

    &__text {
        display: flex;
        align-items: center;
        // margin: 0 6rem;
        color: white;
    }

    &__name {
        font-size: 30px;
        font-weight: bold;
    }

    &__title {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        font-size: 15px;
    }


    @media (max-width: 576px) {

        &__name {
            font-size: 25px;
        }

        &__text {
            font-size: 10px;
            margin: 0 1rem;
        }

        &__title {
            font-size: 13px;
        }

    }

}