.home {

    &-content {
        margin: 0 5rem;
    }

    &__tabs {
        margin: 1rem 1.2rem 0 1.5rem;
        padding: 0.5rem 0;
    }

    &__tab-item {
        color: #cd1532;
        :hover {
            background-color: #cd1532;
            color: white;
        }

        &--active {
            background-color: #cd1532 !important;
            color: white !important;
        }
    }

    &__bio {
        margin: 0rem 1.5rem;
        padding: 3rem;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    @media (max-width: 576px) {

        &-content {
            margin: 1rem;
        }

        &__tabs {
            flex-direction: column;
        }

        &__bio {
            margin: 0;
            padding: 2rem 1.5rem;
        }
    
    }

}